# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true
indent_size = 2

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# 4 space indentation
[*.ts]
indent_style = space
